@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700&display=swap');

$primary-blue: #5FB2FF;
$primary-green: #51DF70;
$primary-yellow: #FFDC62;

$glass-color: rgba(255, 255, 255, 0.3);
$glass-second-color:rgba(255, 255, 255, 0.521);
$border-color: white;

$font-primary-color: rgb(255, 255, 255);
$font-stack: 'Encode Sans SC', sans-serif;

/* Buttons */
button, .button{
    border: none;
}