/* Utils */
@import 'utils/config';
@import 'utils/mixins';
@import 'utils/animations';

/* Combinated */
@import 'startPage';
@import 'teacherPage';
@import 'navbar';

*{
    padding: 0;
    margin: 0;
}

html{
    background-image: linear-gradient(60deg, $primary-green 30%, $primary-blue);
    background-size: cover;
    font-family: $font-stack;
    width: 100vw;
    height: 100vh;
}

.modal{
    @include flex-box(row, center, center);
    position: relative;
    top:50vh;
    left:50vw;
    transform: translate(-50%, -50%);
    width: 95vw;
    height: 90vh;
    background-color: $glass-color;
    border-radius: 30px;
    // animation: modal-anim infinite 2s ease-in-out;
}
